<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>main index</title>
</head>
<body>
<h1>gm造号平台</h1>
<h3>当前可控制的服务器列表</h3>
<h5>230(1服主干)
<h5>229(2服分支)</h5>
<h3>造号功能</h3>
<a href='/gmtool/charater'>一键全人物</a><br/>
<a href='/gmtool/add_all_item'>一键全素材、全人物、队伍等级60级</a><br/>
<a href='/gmtool/add_all_item_230'>(1服-试用中)一键全素材、全人物、队伍等级60级</a><br/>
<a href='/gmtool/new_gmtools'>(新-全服通用)一键全素材、全人物、自动完成幻卡前置、开启星石(总之就是很屌)</a><br/>
<h5>-----------------------------------</h5><br/>
<a href='/'>返回首页</a>
</body>
</html>