<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <title>main index</title>
</head>
<body>
<h1>服务器控制页面</h1>
<h3>当前可控制的服务器列表</h3>
<h5>230(1服主干)</h5>
<h5>229(2服分支)</h5>
<h3>服务器功能</h3>
<a href='/time'>查看当前服务器时间</a><br/>
<a href='/restart_new'>新-重启服务器功能</a><br/>
<h5>------------------229分支功能平台----------------------</h5><br/>
<a href='/time/switch'>调整时间</a><br/>
<a href='/restart'>重启服务器</a><br/>
<a href='/server_2/status'>服务器开关状态</a><br/>
<h5>------------------230主干功能平台----------------------</h5><br/>
<a href='/time/switch_time_230'>调整230时间</a><br/>
<a href='/restart_230'>重启服务器</a><br/>
<a href='/server_1/status'>服务器开关状态</a><br/>
<h5>-------------------------------------------------------</h5><br/>
<a href='/gmtool'>gm自动化平台</a><br/>
<a href='/item_search'>道具名查找(测试中，现只支持id查找道具名)</a><br/>
<h5>-----------------------------------</h5><br/>
<a href='/upload'>更新服务器</a><br/>
<h3>注意：功能测试版本，需要将bin文件上传到服务器内</h3>

<a href='/test_tool/rollcard'>（临时）抽卡概率测试</a><br/>

</body>
</html>